@tailwind base;
/* Write your global styles here, in PostCSS syntax */
@tailwind components;
@tailwind utilities;

@layer utilities {
    .activeTab {
        @apply border-l border-t border-r rounded-t
    }
}